* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: radial-gradient(circle, #ffd8ee, #f5ccef, #e6c1f2, #d0b8f6, #b3b1fb, #96a5ed, #7998de, #5a8ccf, #4576ac, #33608a, #264b69, #1b364a);
}

.container {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: center;
}

span {
    font-size: 1.5rem;
    font-weight: 300;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

span, h1 {
    text-transform: uppercase;
}

.amount-and-currency {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: .2rem;
}

.filled,
.wanted {
    width: 100%;
    height: 5vh;
}

input {
    width: 70%;
    height: 100%;
    border: solid 2px black;
    border-radius: 20px;
    border-color: gray;
    outline: none;
    padding: 10px;
}

input:focus {
    border-color: lightcoral;
}

select {
    width: 28%;
    height: 100%;
    text-align: center;
}

#converted {
    background-color: white;
}

button {
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	background-color:#768d87;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1rem;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
    margin-top: .4rem;
}

button:hover {
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	background-color:#6c7c7c;
}

button:active {
    position:relative;
	top:1px;
}

@media screen and (max-width: 968px){
    .container {
        flex: 1 1 auto;
    }
}